@model IEnumerable<UMA_SYSTEM.Frontend.Models.Anexo>
@{
    ViewData["Title"] = "VerImagenes";
}

<div>
    @if (Model != null && Model.Any())
    {
        foreach (var imagen in Model)
        {
            <img src="@imagen.URL" alt="Imagen" />
        }
    }
    else
    {
        <p>No hay imágenes disponibles.</p>
    }
</div>
