@model UMA_SYSTEM.Frontend.Models.DenunciaAnonimaVM
@{
    ViewData["Title"] = "Create";   
}
<div class="row">
    <div class="col-md-12">
        <h4 class=" text-center"> Denuncia</h4>
        <div class="card">
            <div class=" card-header text-center bg-info">
                <img src="~/images/Alcaldia Valle.png" align="left" style="width: 50px; height: auto; border-radius: 50%; object-fit: cover;">
                <img src="~/images/Escudo Honduras.png" align="right" style="width: 50px; height: auto; border-radius: 50%; object-fit: cover;">
            </div>
            <div class=" card-body text-center">
                <form asp-action="CrearDenuncia" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="IdEstado" type="hidden"/>
                    <input asp-for="NumExpediente" type="hidden" />
                    <div class="form-group">
                        <label></label>
                        <select asp-for="IdTipoDenuncia" asp-items="Model.Tipos" class="form-control"></select>
                        <span asp-validation-for="IdTipoDenuncia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <textarea asp-for="PuntoReferencia" class="form-control" placeholder="Punto de referencia"></textarea>
                        <span asp-validation-for="PuntoReferencia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <textarea asp-for="DescripcionHechos" class="form-control" placeholder="Descripción de los hechos"></textarea>
                        <span asp-validation-for="DescripcionHechos" class="text-danger"></span>
                    </div>                   
                    <div class="form-group">
                        <label></label>
                        <input asp-for="Aldea" class="form-control" placeholder="Aldea" />
                        <span asp-validation-for="Aldea" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input asp-for="Barrio" class="form-control" placeholder="Barrio" />
                        <span asp-validation-for="Barrio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input asp-for="Caserio" class="form-control" placeholder="Caserío" />
                        <span asp-validation-for="Caserio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="file" class="form-control mb-3" name="file"> 
                        <span asp-validation-for="URLImagen" class="text-danger"></span>
                    </div>
                    <div class=" card-footer bg-info">
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><i class="oi oi-check"></i> Guardar</button>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="oi oi-ban"></i> Cancelar</button>                          
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


