<h4 class="text-center mt-3">Documentacion necesaria para presentar una solicitud</h4>
<hr />
<p>
    NOTA: Se debe adjuntar a la presente solicitud la siguiente documentación:
    <br> 1. Fotocopia de escritura de terreno o (Documento compra venta autenticada).
    <br> 2. Plano de la propiedad.
    <br> 3. Copia de la tarjeta de identidad.
    <br> 4. Presentar hoja de antecedentes penales y policiales recientes (vigentes), (OBLIGATORIO).
    <br> 5. Copia de recibos de bienes inmuebles del presente año.
    <br> 6. Copia de impuestos personales (Valle de Ángeles del presente año).
    <br> 7. Si es privado, autorización del dueño.
    <br> 8. Copia del permiso de operación vigente de la persona que realizará el corte (Motosierra).
    <br> 9. Cancelar Lps200.00 por inspección para vecinos, Lps500.00 para no vecinos y Lps500 para vecinos y Lps800.00 para no vecinos por cada árbol cortado.
    <br> 10. Cancelar 3 árboles forestales, valor c/u Lps50.00 por cada árbol que se corte (Reposición), los que deberá sembrar dentro de su propiedad en el área verde.
    <br> Antes de autorizar todo corte tendrá que sembrar 3 árboles nativos por cada uno cortado, deberá presentar un informe a la UMA validando que realizó la actividad.
    <br> 11. Todos los trámites son de carácter personal, o con poder legal autorizado.
    <br> 12. En el caso que los árboles interfieran en la construcción se debe de presentar un escrito autenticado en donde se manifieste la cantidad de árboles
    <br> que hay dentro de la propiedad y de qué especie son, esto con el fin de que no puedan ser dañados ni cortados más de lo autorizado, así mismo deberán sembrar 3
    <br> por cada árbol que requieran cortar antes de iniciar el proceso de construcción.
    <br> 13. El permiso será entregado dos (2) días después de la inspección, con una vigencia de no más de tres días hábiles.
    <br> 14. Si la propiedad se encuentra dentro de la zona de amortiguamiento del Parque Nacional La Tigra, deberá contar con el dictamen de la Fundación, en el caso que
    <br> la zona esté fuera del perímetro urbano deberá tramitar permiso en "ICF".
</p>

<a href="@Url.Action("Privacy", "Home")" class="btn btn-sm btn-primary"><i class="oi oi-arrow-thick-left"></i> Regresar</a>