@model UMA_SYSTEM.Frontend.Models.CambiarPasswordVM
@{
    ViewData["Title"] = "CambiarPassword";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="row">
    <div class=" card">
        <div class=" card-title text-center">
            <h3> Cambiar Contraseña</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for ="UserId"/>
                <div class="form-group">
                    <div class="input-group">
                        <label></label>
                        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Contraseña actual" id="passwordInput1" />                        
                        <button type="button" class="btn btn-primary" id="togglePassword" onclick="togglePasswordVisibility()">
                            <i class="fa fa-eye"></i> <!-- Ícono de ojo -->
                        </button>
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <div class="input-group mt-3">
                        <label></label>
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nueva contraseña" id="passwordInput2" />                       
                        <button type="button" class="btn btn-primary" id="togglePassword" onclick="togglePasswordVisibility()">
                            <i class="fa fa-eye"></i> <!-- Ícono de ojo -->
                        </button>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <div class="input-group mt-3">
                        <label></label>
                        <input asp-for="Confirmation" type="password" class="form-control" placeholder="Confirmar contraseña" id="passwordInput3" />                       
                        <button type="button" class="btn btn-primary" id="togglePassword" onclick="togglePasswordVisibility()">
                            <i class="fa fa-eye"></i> <!-- Ícono de ojo -->
                        </button>
                    </div>
                    <span asp-validation-for="Confirmation" class="text-danger"></span>
                </div>
                
                <hr />
                <div class="form-group mt-2 text-center">
                    <input type="submit" value="Cambiar Contraseña" class="btn-sm btn-outline-primary" />
                    <a asp-action="Edit" class="btn-sm btn-outline-success">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput1 = document.getElementById("passwordInput1");
        var passwordInput2 = document.getElementById("passwordInput2");
        var passwordInput3 = document.getElementById("passwordInput3");
        var toggleButton = document.getElementById("togglePassword");

        if (passwordInput1.type === "password") {
            passwordInput1.type = "text";
            toggleButton.innerHTML = '<i class="fa fa-eye-slash"></i>'; // Cambia el ícono a ojo cerrado
        } else {
            passwordInput1.type = "password";
            toggleButton.innerHTML = '<i class="fa fa-eye"></i>'; // Cambia el ícono a ojo abierto
        }

        if (passwordInput2.type === "password") {
            passwordInput2.type = "text";
            toggleButton.innerHTML = '<i class="fa fa-eye-slash"></i>'; // Cambia el ícono a ojo cerrado
        } else {
            passwordInput2.type = "password";
            toggleButton.innerHTML = '<i class="fa fa-eye"></i>'; // Cambia el ícono a ojo abierto
        }

        if (passwordInput3.type === "password") {
            passwordInput3.type = "text";
            toggleButton.innerHTML = '<i class="fa fa-eye-slash"></i>'; // Cambia el ícono a ojo cerrado
        } else {
            passwordInput3.type = "password";
            toggleButton.innerHTML = '<i class="fa fa-eye"></i>'; // Cambia el ícono a ojo abierto
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}