@model UMA_SYSTEM.Frontend.Models.RecoverPasswordVM
@{
    ViewData["Title"] = "RecoverPassword";
}

<meta charset="utf-8" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["AlertMessage"]',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}


<div class="row">
    <div class=" card">
        <div class=" card-title text-center">
            <h3> Resetear Contraseña</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-success"></div>                              
                <div class="form-group">
                    <label></label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Ingrese su correo electronico" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>
                <hr />
                <div class="form-group mt-2 text-center">
                    <input type="submit" value="Resetear Contraseña" class="btn-sm btn-outline-primary" />
                    <a asp-action="Edit" class="btn-sm btn-outline-success">Regresar</a>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}