@model UMA_SYSTEM.Frontend.Models.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="row">
    <div class=" card">
        <div class=" card-title text-center">
            <h3> Resetear Contraseña</h3>
        </div>
        <div class="card-body">
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" name="Token" value="@Model.Token" />
                <input type="hidden" name="Email" value="@Model.Email" />

                <div class="input-group mt-3">
                    <label></label>
                    <input type="password" name="NewPassword" class="form-control" id="passwordInput" placeholder="Nueva contraseña" required />
                    <button type="button" class="btn btn-primary" id="togglePassword" onclick="togglePasswordVisibility()">
                        <i class="fa fa-eye"></i> <!-- Ícono de ojo -->
                    </button>
                </div>

                <div class="input-group mt-3">
                    <label></label>
                    <input type="password" name="Confirmation" class="form-control" id="passwordInput1" placeholder="Confirmar contraseña" required />
                    <button type="button" class="btn btn-primary" id="togglePassword1" onclick="togglePasswordVisibility()">
                        <i class="fa fa-eye"></i> <!-- Ícono de ojo -->
                    </button>
                </div>

                <div class="form-group mt-2 text-center">
                    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        var toggleButton = document.getElementById("togglePassword");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.innerHTML = '<i class="fa fa-eye-slash"></i>'; // Cambia el ícono a ojo cerrado
        } else {
            passwordInput.type = "password";
            toggleButton.innerHTML = '<i class="fa fa-eye"></i>'; // Cambia el ícono a ojo abierto
        }

        var passwordInput1 = document.getElementById("passwordInput1");
        var toggleButton1 = document.getElementById("togglePassword1");

        if (passwordInput1.type === "password") {
            passwordInput1.type = "text";
            toggleButton1.innerHTML = '<i class="fa fa-eye-slash"></i>'; // Cambia el ícono a ojo cerrado
        } else {
            passwordInput1.type = "password";
            toggleButton1.innerHTML = '<i class="fa fa-eye"></i>'; // Cambia el ícono a ojo abierto
        }
    }
</script>