@model UMA_SYSTEM.Frontend.Models.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row">
    <div class=" card">
        <div class=" card-title text-center">
            <h3> Resetear Contraseña</h3>
        </div>
        <div class="card-body">
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" name="Token" value="@Model.Token" />
                <input type="hidden" name="Email" value="@Model.Email" />

                <div class="form-group">
                    <label asp-for="NewPassword">Nueva contraseña</label>
                    <input type="password" name="NewPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label asp-for="Confirmation">Confirmar contraseña</label>
                    <input type="password" name="Confirmation" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
            </form>
        </div>
    </div>
</div>

